subnet {{ dhcp_subnet }} netmask {{ dhcp_netmask }} {
  option routers {{ dhcp_server }};
  option tftp-server-name "{{ dhcp_server }}";
  option bootfile-name "{{ poap_script }}";
  range {{ dhcp_range.low }} {{ dhcp_range.high }};
}